<div id="principal">
  <span class="titulo-degrade">Leonardo Aoki</span><span class="piscando">_</span>
</div>

<div>
  <!-- https://devicon.dev -->
  <img class="img-icones" alt="Aoki-Js" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg">
  <img class="img-icones" alt="Aoki-Ts" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg">
  <img class="img-icones" alt="Aoki-HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg">
  <img class="img-icones" alt="Aoki-CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg">
  <img class="img-icones" alt="Aoki-Csharp" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-plain.svg">
  <img class="img-icones" alt="Aoki-Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg">
  <img class="img-icones" alt="Aoki-DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg">
  <img class="img-icones" alt="Aoki-WordPress" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-plain.svg">
</div>

<div id="footer">
  <a href="https://github.com/LeoAoki" target="_blank"><img class="img-github" alt="Aoki-GitHub" height="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"></a><br>
  <span class="email">leoaoki.dev@gmail.com</span>
</div>

<!-- <div id="simbolo">
  <span class="simbolo">&lt;/&gt;</span>
</div> -->
